extends layout 

block content 
    h1 Books 
    p 
        a(class="button" href="/books/new") Create New Book
    p 
        a(class='button' href='/') All Books
    form(action='/books/search')
        input(id='search-button' type='submit' value='Search')
        input(type='text' name='search')
    table 
        thead 
            tr
                th Title 
                th Author 
                th Genre 
                th Year
        tbody 
            each book in books 
                tr
                    td 
                        a(href=`/books/${book.id}`)= book.title
                    td= book.author 
                    td= book.genre 
                    td= book.year